@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a Docker project that is publish to Azure Web App using Azure DevOps</p>
</div>
